name: Deploy Vulnerable Application

on:
  push:
    branches:
      - master

jobs:
  deploy-heroku:
    name: Deploy to Heroku
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Build, Push and Release to Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          docker login --username=_ --password=$HEROKU_API_KEY registry.heroku.com
          docker build -t registry.heroku.com/vuln-app-mariano-ivasiuta/web .
          docker push registry.heroku.com/vuln-app-mariano-ivasiuta/web
          
          # Install Heroku CLI
          curl https://cli-assets.heroku.com/install.sh | sh
          
          # Release the container
          heroku container:release web -a vuln-app-mariano-ivasiuta



